body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: margin-left 0.3s;
    background-image: url("/static/dark_bgd.avif");
    background-size: cover;
}

.menu-active {
    margin-left: 250px;
}

#menu-toggle {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
    color: white;
}

.menu-active #menu-toggle {
    /* top: 10px; */
    /* margin-left: 200px; */
    /* animation-name: fadeInOpacity; */
	/* animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s; */
    transform: translateX(200px) translateY(-940px);
    transition: transform 0.5s ease;
}
/* @keyframes fadeInOpacity { ! 
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} */

#slide-menu {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s;
    color: white;
}

.menu-active #slide-menu {
    left: 0;
}

#slide-menu ul {
    list-style-type: none;
    padding: 0;
}

#slide-menu ul li a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

#content {
    padding: 20px;
}