<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yearly Contribution Grid</title>
    <!-- Your custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='work_notes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
</head>
<body>
    <!-- Menu Toggle -->
    <div id="menu-toggle">&#9776;</div>
    <nav id="slide-menu">
        <ul>
            <li><a href="/">Habit Tracker</a></li>
            <li><a href="/yearly-grid">Calendar</a></li>
        </ul>
        
    </nav>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
</body>
</html>